.match-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .card-image .card-title {
  padding: 4px 6px;
  font-size: 1rem;
}
.card-title {
  background:rgba(7, 7, 7, 0.6);
}

.card-action a {
    font-size: 0.8rem;
}
.card {
  height: 236px;
}
.card-image {
  max-height: 135px;
  width: 135px;
  overflow: hidden;
}
.pl-0 {
    padding-left: 0;
}
.df-jc {
    display:flex;
    justify-content: center;
}
.fadeIn {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}


@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
