<main class="main-body">
  <div *ngIf="teams[0] !== undefined">
    <div class="match-header columns ">
      <div class="column df-jc-ma is-hidden-touch">
        <figure>
          <img [src]="match.opponent1.imgUrl" alt="Alternate Text" />
        </figure>
      </div>
      <div class="column is-one-fifth-desktop is-full-mobile match-info has-text-light">
        <h4 class="center-align is-size-4">{{match.opponent1.name}} vs {{match.opponent2.name}}</h4>
        <p class="is-size-4">{{match.beginAt | date: 'medium'}}</p>
        <p *ngIf="match.status == 3" class="is-size-5">Hasn't started yet</p>
        <p *ngIf="match.matchType == 0" class="is-size-5"><strong class="has-text-weight-semibold has-text-light">Best of {{match.numberOfGames}}</strong></p>
        <p *ngIf="match.matchType == 1" class="is-size-5"><strong class="has-text-weight-semibold has-text-light">Custom {{match.numberOfGames}}</strong></p>
        <p *ngIf="match.matchType == 2" class="is-size-5"><strong class="has-text-weight-semibold has-text-light">First to {{match.numberOfGames}}</strong></p>
        <p *ngIf="match.matchType == 3" class="is-size-5"><strong class="has-text-weight-semibold has-text-light">Overtime | Best of {{match.numberOfGames}}</strong></p>
        <img *ngIf="match.league.imgUrl !== null" [src]="match.league.imgUrl" alt="{{match.league.name + ' logo'}}" />
      </div>
      <figure class="column df-jc-ma is-hidden-touch">
        <figure>
          <img [src]="match.opponent2.imgUrl" alt="Alternate Text" />
        </figure>
      </figure>

    </div>
    <div class="container">
      <div class="match-container mt-6em">
        <div class="columns">
          <ng-container *ngFor="let team of teams; index as i">
            <div class="match-opponent-container column">
              <div class="page-header">
                <p class="flow-text">{{team.name}} <small>{{team.currentVideogame}}</small></p>
              </div>
              <div class="columns is-multiline">
                <div class="column is-full df-jc" *ngIf="loadingTeamsSpinner">
                  <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Placeholder icons if not players found -->
                <div *ngIf="team.players.length === 0">
                  <div class="column is-half" *ngFor="let player of numbers">
                    <div class="card">
                      <div class="card-image">
                        <img src="../assets/profile-picture.png" alt="Player picture">
                        <span class="card-title">Missing name</span>
                      </div>
                      <div class="card-content">
                        <p class="text-flow">Missing information</p>
                      </div>
                      <div class="card-action">
                        <a href="#">This is a link</a>
                      </div>
                    </div>
                  </div>
                </div>
                <article *ngFor="let player of team.players" class="column is-4 fadeIn">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-5by3">
                        <img class="has-ratio" [src]="player.imgUrl" alt="{{player.name}} image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <span class="tag is-danger" *ngIf="player.role !== null">{{player.role}}</span>
                          <p class="title is-size-5" *ngIf="player.firstName !== null || player.lastName !== null">{{player.firstName + ' ' + player.lastName}}</p>
                          <p class="subtitle is-6 mt-0">{{player.name}}</p>
                        </div>
                      </div>

                      <div class="content">
                        <ul class="ml-0">
                          <li class="is-size-7"><strong>Nationality:</strong> {{player.nationality !== null ? player.nationality : '-'}}</li>
                          <li class="is-size-7"><strong>Hometown:</strong> {{player.homeTown !== null ? player.homeTown : '-'}}</li>
                          <li class="is-size-7"><strong>Age:</strong> {{player.birthYear !== null ? today - player.birthYear + ' years old' : '-'}}</li>
                        </ul>
                        <br>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</main>
