<div class="navbar col-sm-12">
  <div class="row">
    <div class="navbar-logo col-sm-4 ">
      <span>Esport manager</span>
    </div>
    <div class="navbar-search-bar col-sm-4 ">
      <input class="form-control" type="search" name="search-field" value="" placeholder="Search" />
    </div>
    <div class="navbar-user-wrapper col-sm-4">
      <ul>
        <li>Games</li>
        <li>Calendar</li>
        <li>Chat</li>
        <li>William Wirsén</li>
        <li><img src="https://via.placeholder.com/64" alt="Profile Picture" /></li>

      </ul>
    </div>
  </div>
</div>
