/*Color Scheme: #090979, #161a42 */

.main-body {
  margin-top: 5rem;
}

h1 {
  font-family: 'Enriqueta', arial, serif;
  line-height: 1.25;
  margin: 2rem;
  font-size: 2.7rem;
  font-weight: bold;
}

.team-live-icon {
  max-width: 86px;
  align-self: center;
}

.live-card {
  margin: 1rem;
  padding: 1rem;
}

.match-wrapper {
  background-color: #f9f9f9;
  padding: 0 2rem;
}

.live-match-container {
  display: flex;
  justify-content: space-around;
}

.live-cards-container > .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.row > article {
  cursor: pointer;
  min-width: 37rem;
}

.live-stream-link, .live-stream-link:hover {
  color: #0a0a0a;
  text-decoration: none;
}

.live-cards-container {
  display: flex;
  justify-content: center;
}

.opponent-one-details, .opponent-two-details {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-weight: bold;
  margin-top: 0.5rem;
}

.live-match-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 3rem 2rem 3rem;
  text-align: center;
  max-width: 8rem;
}

.live-status {
  color: cadetblue;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.2rem;
}

.number-of-games {
  font-weight: bold;
}

.not-live-status {
  color: darkred;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.2rem;
}

.match-not-finished {
  position: relative;
}

.live-icon {
  height: 5px;
  width: 5px;
  background-color: red;
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  /* Box radius */
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  /* Box background color */
  background: rgba(247,25,5,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(247,25,5,1) 0%, rgba(240,103,79,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(247,25,5,1)), color-stop(100%, rgba(240,103,79,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(247,25,5,1) 0%, rgba(240,103,79,0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(247,25,5,1) 0%, rgba(240,103,79,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(247,25,5,1) 0%, rgba(240,103,79,0) 100%);
  background: radial-gradient(ellipse at center, rgba(247,25,5,1) 0%, rgba(240,103,79,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f71905', endColorstr='#f0674f', GradientType=1 );
  /* Box shadow */
  -webkit-animation: blinking 5s infinite linear; /* Safari 4+ */
  -moz-animation: blinking 5s infinite linear; /* Fx 5+ */
  -o-animation: blinking 5s infinite linear; /* Opera 12+ */
  animation: blinking 5s infinite linear; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blinking {
  0% {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(230,107,85,1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(230,107,85,1);
    box-shadow: 0px 0px 11px 0px rgba(230,107,85,1);
    box-shadow: 0px 0px 13px 0px rgba(237,31,31,1);
    background: rgba(230,34,16,1);
  }

  50% {
    -webkit-box-shadow: 0px 0px 11px 3px rgba(230,107,85,1);
    -moz-box-shadow: 0px 0px 11px 3px rgba(230,107,85,1);
    box-shadow: 0px 0px 11px 3px rgba(230,107,85,1);
    box-shadow: 0px 0px 13px 3px rgba(237,31,31,1);
    background: rgba(230,34,16,1);
  }

  100% {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(230,107,85,1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(230,107,85,1);
    box-shadow: 0px 0px 11px 0px rgba(230,107,85,1);
    box-shadow: 0px 0px 13px 0px rgba(237,31,31,1);
    background: rgba(230,34,16,1);
  }
}

.live-games-header {
  margin: 5em 0;
  padding: 5em;
  text-align: center;
}

.live-result {
  font-size: 2.5rem;
}

.live-status::after {
  content: "";
  height: 2px;
  width: 2px;
  border-radius: 100%;
  background-color: red;
}

.opponent-one-details span, .opponent-two-details span {
  text-align: center;
}

.league-information-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background: rgb(2,0,36);
  background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
  height: 35px;
}

.live-league-logo {
  align-self: center;
  background: #41ac96;
}

.league-information-container span {
  font-size: 1.5rem;
  color: #f2f2f2;
  align-self: center;
  margin-left: 1rem;
}

.live-league-logo {
  max-height: 35px;
}

.game-logo {
  max-width: 38px;
}

.league-logo {
  max-width: 35px;
}

.game-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%);
  padding: 1.5rem;
  border-radius: 0 0 100px 0;
}

.game-header-left {
  display: flex;
  justify-content: flex-start;
}

.game-header-right {
  margin-right: 3em;
}
  .game-header-right span {
    background: #161a42;
  }

.game-header span {
  margin-left: 3rem;
  align-self: center;
  font-size: x-large;
  color: #f7f7f7;
}

.schedule {
  display: flex;
  flex-direction: column;
}

.matches-schedule {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-bottom: 1px solid #f8f8f8;
  padding: 2rem;
  flex-direction: column;
}

  .matches-schedule .row {
    display: flex;
    align-items: center;
  }

.game-schedule-container {
  width: 100%;
}

.match-schedule .row {
  width: 100%;
}

.match-opponent {
  font-size: 1.3rem;
  color: #808080;
  text-transform: uppercase;
  font-weight: 550;
}

.league-header {
  background-color: #e6e6e6;
  padding: 0.8rem;
  font-size: small;
  display: flex;
  margin-bottom: 1rem;
}
  .league-header img {
    margin: 0 10px;
  }

  .league-header a {
    margin-left: 1rem;
    align-self: center;
    font-weight: bold;
    color: darkslategray;
  }
  .league-header a:hover {
      text-decoration: none;
  }

.schedule-body {
  align-self: flex-end;
  width: 90%;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color rgba(26, 26, 26, 0.97);
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.mb-5em {
    margin-bottom: 5em;
}
