<main class="main-body">
  <app-live [live]="selectedLive"></app-live>
    
  <h1 class="ta-c">Upcoming games this month</h1>
  <div class="container">
    <div class="mb-5em">
      <div class="is-full">
        <div class="game-header " [ngClass]="{'mb-10px' : overwatch.length < 1}">
          <div class="game-header-left">
            <img class="game-logo" src="../../assets/overwatch.png" alt="overwatch logo" />
            <span class="game-header-title">Overwatch</span>
          </div>
          <div class="game-header-right">
            <span class="tag is-info is-medium">{{overwatchCounter}}</span>
          </div>
        </div>
        <div class="schedule-body">
          <div class="league-wrapper">
            <ng-container *ngFor="let upcomingGame of overwatch; index as i">
              <div class="league-header">
                <img class="league-logo" src="{{upcomingGame.imgUrl}}" alt="{{upcomingGame.name}}" />
                <a routerLink="/league/{{upcomingGame.id}}" routerLinkActive="active">{{upcomingGame.name}}</a>
              </div>
              <div class="matches-schedule">
                <ng-container *ngFor="let match of overwatch[i].matches">
                  <div class="columns cp w100" [attr.data-match-id]="match.id" [routerLink]="['/match', match.id]" routerLinkActive="active">
                    <div class="match-opponent column"><span>{{match.opponentOne.name}}</span></div>
                    <div class="scheduled-start column"><span>{{match.startDate | date:'medium'}}</span></div>
                    <div class="match-opponent column"><span>{{match.opponentTwo.name}}</span></div>
                    <div ng-if="overwatch[i].matches.length > 1"><hr /></div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="is-full">
        <div class="game-header" [ngClass]="{'mb-10px' : dota2.length < 1}">
          <div class="game-header-left">
            <img class="game-logo" src="../../assets/dota-2.png" alt="Dota 2 logo" />
            <span>Dota 2</span>
          </div>
          <div class="game-header-right">
            <span class="tag is-info is-medium">{{dotaCounter}}</span>
          </div>
        </div>
        <div class="schedule-body">
          <div class="league-wrapper">
            <ng-container *ngFor="let upcomingGame of dota2; index as i">
              <div class="league-header">
                <img class="league-logo" src="{{upcomingGame.imgUrl}}" alt="{{upcomingGame.name}}" />
                <a routerLink="/league/{{upcomingGame.id}}" routerLinkActive="active">{{upcomingGame.name}}</a>
              </div>
              <div class="matches-schedule">
                <ng-container *ngFor="let match of dota2[i].matches">
                  <div class="columns cp w100" [attr.data-match-id]="match.id" [routerLink]="['/match', match.id]" routerLinkActive="active">
                    <div class="match-opponent column"><span>{{match.opponentOne.name}}</span></div>
                    <div class="scheduled-start column"><span>{{match.startDate | date:'medium'}}</span></div>
                    <div class="match-opponent column"><span>{{match.opponentTwo.name}}</span></div>
                    <div ng-if="dota2[i].matches.length > 1"><hr /></div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="game-header" [ngClass]="{'mb-10px' : lol.length < 1}">
        <div class="game-header-left">
          <img class="game-logo" src="../../assets/league-of-legends.png" alt="League of Legends logo" />
          <span>League of Legends</span>
        </div>
        <div class="game-header-right">
          <span class="tag is-info is-medium">{{lolCounter}}</span>
        </div>
      </div>
      <div class="schedule-body">
        <div class="league-wrapper">
          <ng-container *ngFor="let upcomingGame of lol; index as i">
            <div class="league-header">
              <img class="league-logo" src="{{upcomingGame.imgUrl}}" alt="{{upcomingGame.name}}" />
              <a routerLink="/league/{{upcomingGame.id}}" routerLinkActive="active">{{upcomingGame.name}}</a>
            </div>
            <div class="matches-schedule">
              <ng-container *ngFor="let match of lol[i].matches">
                <div class="columns cp w100" [attr.data-match-id]="match.id" [routerLink]="['/match', match.id]" routerLinkActive="active">
                  <div class="match-opponent column"><span>{{match.opponentOne.name}}</span></div>
                  <div class="scheduled-start column"><span>{{match.startDate | date:'medium'}}</span></div>
                  <div class="match-opponent column"><span>{{match.opponentTwo.name}}</span></div>
                  <div ng-if="lol[i].matches.length > 1"><hr /></div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="game-header" [ngClass]="{'mb-10px' : csgo.length < 1}">
        <div class="game-header-left">
          <img class="game-logo" src="../../assets/cs-go.png" alt="Counter-strike: Global Offensive logo" />
          <span>Counter-strike: Global Offensive</span>
        </div>
        <div class="game-header-right">
          <span class="tag is-info is-medium">{{csgoCounter}}</span>
        </div>
      </div>
      <div class="schedule-body">
        <div class="league-wrapper">
          <ng-container *ngFor="let upcomingGame of csgo; index as i">
            <div class="league-header">
              <img class="league-logo" src="{{upcomingGame.imgUrl}}" alt="{{upcomingGame.name}}" />
              <span>{{upcomingGame.name}}</span>
            </div>
            <div class="matches-schedule">
              <ng-container *ngFor="let match of csgo[i].matches">
                <div class="columns cp w100" [attr.data-match-id]="match.id" [routerLink]="['/match', match.id]" routerLinkActive="active">
                  <div class="match-opponent column"><span>{{match.opponentOne.name}}</span></div>
                  <div class="scheduled-start column"><span>{{match.startDate | date:'medium'}}</span></div>
                  <div class="match-opponent column"><span>{{match.opponentTwo.name}}</span></div>
                  <div *ngIf="csgo[0].matches.length > 1"><hr /></div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="game-header" [ngClass]="{'mb-10px' : rocketLeague.length < 1}">
        <div class="game-header-left">
          <img class="game-logo" src="../../assets/rl.png" alt="Rocket League logo" />
          <span>Rocket League</span>
        </div>
        <div class="game-header-right">
          <span class="tag is-info is-medium">{{rocketLeagueCounter}}</span>
        </div>
      </div>
      <div class="schedule-body">
        <div class="league-wrapper">
          <ng-container *ngFor="let upcomingGame of rocketLeague; index as i">
            <div class="league-header">
              <img class="league-logo" src="{{upcomingGame.imgUrl}}" alt="{{upcomingGame.name}}" />
              <span>{{upcomingGame.name}}</span>
            </div>
            <div class="matches-schedule">
              <ng-container *ngFor="let match of rocketLeague[i].matches">
                <div class="columns cp w100" [attr.data-match-id]="match.id" [routerLink]="['/match', match.id]" routerLinkActive="active">
                  <div class="match-opponent column"><span>{{match.opponentOne.name}}</span></div>
                  <div class="scheduled-start column"><span>{{match.startDate | date:'medium'}}</span></div>
                  <div class="match-opponent column"><span>{{match.opponentTwo.name}}</span></div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="game-header" [ngClass]="{'mb-10px' : cod.length < 1}">
        <div class="game-header-left">
          <img class="game-logo" src="../../assets/cod-mw.png" alt="Call of Duty: Modern Warfare logo" />
          <span>Call of Duty: Modern Warfare</span>
        </div>
        <div class="game-header-right">
          <span class="tag is-info is-medium">{{codCounter}}</span>
        </div>
      </div>
      <div class="schedule-body">
        <div class="league-wrapper">
          <ng-container *ngFor="let upcomingGame of cod; index as i">
            <div class="league-header">
              <img class="league-logo" src="{{upcomingGame.imgUrl}}" alt="{{upcomingGame.name}}" />
              <span>{{upcomingGame.name}}</span>
            </div>
            <div class="matches-schedule">
              <ng-container *ngFor="let match of cod[i].matches">
                <div class="columns cp w100" [attr.data-match-id]="match.id" [routerLink]="['/match', match.id]" routerLinkActive="active">
                  <div class="match-opponent column"><span>{{match.opponentOne.name}}</span></div>
                  <div class="scheduled-start column"><span>{{match.startDate | date:'medium'}}</span></div>
                  <div class="match-opponent column"><span>{{match.opponentTwo.name}}</span></div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="game-header" [ngClass]="{'mb-10px' : siege.length < 1}">
        <div class="game-header-left">
          <img class="game-logo" src="../../assets/r6-siege.png" alt="Rainbow Six Siege" />
          <span>Rainbow Six Siege</span>
        </div>
        <div class="game-header-right">
          <span class="tag is-info is-medium">{{siegeCounter}}</span>
        </div>
      </div>
      <div class="schedule-body">
        <div class="league-wrapper">
          <ng-container *ngFor="let upcomingGame of siege; index as i">
            <div class="league-header">
              <img class="league-logo" src="{{upcomingGame.imgUrl}}" alt="{{upcomingGame.name}}" />
              <a routerLink="/league/{{upcomingGame.id}}" routerLinkActive="active">{{upcomingGame.name}}</a>
            </div>
            <div class="matches-schedule">
              <ng-container *ngFor="let match of siege[i].matches">
                <div class="columns cp w100" [attr.data-match-id]="match.id" [routerLink]="['/match', match.id]" routerLinkActive="active">
                  <div class="match-opponent column"><span>{{match.opponentOne.name}}</span></div>
                  <div class="scheduled-start column"><span>{{match.startDate | date:'medium'}}</span></div>
                  <div class="match-opponent column"><span>{{match.opponentTwo.name}}</span></div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="!matches"><em>Loading...</em></p>


</main>
