<main class="main-body">
  <ng-container ng-if="!liveGames">
    <h1 style="text-align: center; margin-top:6rem;">Live right now!</h1>
    <div class="live-cards-container">
      <div class="row">
        <ng-container *ngFor="let live of liveGames">
          <article class="live-card col-sm-4" ngClass="{{live.status == 'finished' ? 'match-finished' : 'match-not-finished'}}">
            <a class="live-stream-link" href="{{live.streamUrl !== null ? live.streamUrl : '#'}}">
              <div class="match-wrapper">
                <span *ngIf="live.status !== 'finished'" class="live-icon"></span>
                <div class="live-match-container">
                  <div class="opponent-one-details">
                    <img class="team-live-icon" src="{{live.opponentOne.imgUrl}}" alt="{{live.opponentOne.name}}" />
                    <span>{{live.opponentOne.name}}</span>
                  </div>
                  <div class="live-match-details">
                    <span *ngIf="live.matchType == 'best_of'" class="live-match-type">Best of <span class="number-of-games">{{live.numberOfGames}}</span></span>
                    <span class="live-result">{{live.opponentOneResult}} - {{live.opponentTwoResult}}</span>
                    <span class="live-begin-date">{{live.startDate | date: 'shortTime'}}</span>
                    <span class="live-status" *ngIf="live.isActive">Running</span>
                    <span class="not-live-status" *ngIf="!live.isActive">Not running</span>
                  </div>
                  <div class="opponent-two-details">
                    <img class="team-live-icon" src="{{live.opponentTwo.imgUrl}}" alt="{{live.opponentTwo.name}}" />
                    <span>{{live.opponentTwo.name}}</span>
                  </div>
                </div>
              </div>
            </a>
            <div class="league-information-container">
              <img class="live-league-logo" src="{{live.league.imgUrl}}" alt="{{live.league.name}}" />
              <span>{{live.name}} | {{live.season}} </span>
            </div>
          </article>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <div class="container">
    <div class="row">
      <div class="game-header">
        <img class="game-logo" src="../../assets/overwatch.png" alt="overwatch logo" /><span>Overwatch</span>
      </div>
      <div class="schedule-body">
        <div class="league-wrapper">
          <ng-container *ngFor="let upcomingGames of overwatch">
            <div class="league-header">
              <img class="league-logo" src="{{upcomingGames.imgUrl}}" alt="{{upcomingGames.name}}" />
              <span>{{overwatch.length}}</span>
            </div>
            <div class="matches-schedule">
              <ng-container *ngFor="let match of overwatch.matches">
                <div class="match-schedule">
                  <div class="game-schedule-container">
                    <div class="row">
                      <div class="match-opponent col-sm-4"><span>{{match.opponentOne.name}}</span></div>
                      <div class="scheduled-start col-sm-4"><span>{{match.startDate | date:'medium'}}</span></div>
                      <div class="match-opponent col-sm-4"><span>{{match.opponentTwo.name}}</span></div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            {{upcomingGames}}
          </ng-container>
        </div>
      </div>
      <div class="game-header">
        <img class="game-logo" src="../../assets/dota-2.png" alt="Dota 2 logo" /><span>Dota 2</span>
      </div>
      <div class="schedule-body">
        <div class="league-wrapper">
          <ng-container *ngFor="let upcomingGame of dota2">
            <div class="league-header">
              <img class="league-logo" src="{{upcomingGame.imgUrl}}" alt="{{upcomingGame.name}}" />
              <span>{{upcomingGame.name}}</span>
            </div>
            <div class="matches-schedule">
              <ng-container *ngFor="let match of dota2[0].matches; index as i;" >
                <div class="row">
                  <div class="match-opponent col-sm-4"><span>{{match.opponentOne.name}}</span></div>
                  <div class="scheduled-start col-sm-4"><span>{{match.startDate | date:'medium'}}</span></div>
                  <div class="match-opponent col-sm-4"><span>{{match.opponentTwo.name}}</span></div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="game-header">
        <img class="game-logo" src="../../assets/cs-go.png" alt="Counter-strike: Global Offensive logo" /><span>Counter-strike: Global Offensive</span>
      </div>
      <div class="schedule-body">
        <ng-container *ngFor="let upcomingGames of csgo">

          {{upcomingGames}}
        </ng-container>
      </div>
      <div class="game-header">
        <img class="game-logo" src="../../assets/rl.png" alt="Rocket League logo" /><span>Rocket League</span>
      </div>
      <div class="schedule-body">
        <ng-container *ngFor="let upcomingGames of rocketLeague">

          {{upcomingGames}}
        </ng-container>
      </div>
      <div class="game-header">
        <img class="game-logo" src="../../assets/cod-mw.png" alt="Call of Duty: Modern Warfare logo" /><span>Call of Duty: Modern Warfare</span>
      </div>
      <div class="schedule-body">
        <ng-container *ngFor="let upcomingGames of cod">

          {{upcomingGames}}
        </ng-container>
      </div>
    </div>
  </div>
  <p *ngIf="!matches"><em>Loading...</em></p>

  <!--<div class="container">
    <div class="row">
      <ng-container *ngFor="let game of games">
        <div id="{{game.id}} " class="schedule col-sm-12" *ngIf="games">
          <div class="game-header">
            <img class="game-logo" src="{{game.img}}" alt="{{game.name}} logo" /><span>{{game.name}}</span>
          </div>
          <div class="schedule-body">
            <ng-container *ngFor="let league of leagues">
              <div class="league-wrapper">
                <div class="league-header" *ngIf="league.videogame === game.slug && league.imgUrl !== null">
                  <img class="league-logo" src="{{league.imgUrl}}" alt="{{league.name}}" />
                  <span>{{league.name}}</span>
                </div>
                <div class="matches-schedule">
                  <ng-container *ngFor="let match of matches">
                    <ng-container *ngIf="match.league.name == league.name && league.videogame == game.slug">
                      <div class="match-schedule">
                        <div class="game-schedule-container">
                          <div class="row">
                            <div class="match-opponent col-sm-4"><span>{{match.opponentOne.name}}</span></div>
                            <div class="scheduled-start col-sm-4"><span>{{match.startDate | date:'medium'}}</span></div>
                            <div class="match-opponent col-sm-4"><span>{{match.opponentTwo.name}}</span></div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>


  <table class='table table-striped' *ngIf="matches">
    <thead>
      <tr>
        <th>Id</th>
        <th>name</th>
        <th>logo</th>
        <th>league</th>
        <th>videogame</th>
        <th>startDate</th>
        <th>draw</th>
        <th>match type</th>
        <th>number of games</th>
        <th>tournament</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>prize pool</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches">
        <td ng-if="match.league.id == 545784">{{ match.id }}</td>
        <td>{{ match.name }}</td>
        <td><img class="league-logo img-fluid" src="{{match.league.imgUrl}}" alt="{{match.league.name}}" /></td>
        <td>{{ match.league.name }}</td>
        <td>{{ match.league.videogame }}</td>
        <td>{{ match.startDate }}</td>
        <td>{{ match.draw }}</td>
        <td>{{ match.matchType }}</td>
        <td>{{ match.numberOfGames }}</td>
        <td>{{ match.tournament }}</td>
        <td>{{ match.opponentOne.name }}</td>
        <td>{{ match.opponentTwo.name }}</td>
        <td>{{ match.series.prizepool }}</td>
      </tr>
    </tbody>
  </table>-->
</main>
