.game-logo { max-width: 38px; }
.league-logo { max-width: 35px;}
.game-header {
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content:flex-start;
  background-color: #f8f8f8;
  padding: 2rem;
}
.game-header span {
  margin-left: 3rem;
  align-self:center;
  font-size: x-large;
}
.schedule {
  display: flex;
  flex-direction: column;
}
.match-schedule {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-bottom:1px solid #f8f8f8;
  padding: 2rem;
}
.game-schedule-container {
  width: 100%;
}
.match-schedule .row {
  width: 100%;
}
.match-opponent {
  font-size: 1.3rem;
  color: #808080; 
  text-transform: uppercase;
  font-weight: 550;
}
.league-header {
  background-color: #e6e6e6;
  padding: 0.8rem;
  font-size:small;
  display: flex;
  margin-bottom: 1rem;
}
.league-header span {
  margin-left: 1rem;
  align-self: center;
}
.schedule-body {
  align-self: flex-end;
  width: 90%;
}

